.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 15px;
    background: linear-gradient(90deg, var(--wave-color-dark), var(--wave-color-light));
    width: 80%;
}